name: new_version

on:
    workflow_dispatch:
        inputs:
            version:
                required: true
                type: string

permissions:
    contents: write

jobs:
    dev:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  token: ${{ secrets.FLUTTER_DIFF }}
                  repository: albinpk/flutter-upgrade-helper-diff

            - run: |
                  git config --global user.name "Albin"
                  git config --global user.email "56157868+albinpk@users.noreply.github.com"

            - run: |
                  curl -fsSL https://fvm.app/install.sh | bash
                  echo "/home/runner/fvm/bin" >> $GITHUB_PATH

            - run: fvm install ${{ inputs.version }}

            - run: >
                  curl -fsSL https://github.com/albinpk/flutter-upgrade-helper/blob/main/scripts/update-diff.sh?raw=true
                  | bash -s -- ${{ inputs.version }}
